.features {
  text-align: center;
  color: #fff;
  border-top: 4px solid $colorSonic;
  background-color: $colorSonic;
  padding-bottom: 100px;

  &__title {
    font-size: 3rem;
    letter-spacing: 0.6rem;
    margin: 2rem;
    text-shadow: 10px 4px 8px rgba(0, 0, 0, 0.7);
  }

  &__wrapper {
    box-shadow: 0 16px 24px 4px rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    background-color: $colorInfo;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    grid-gap: 3rem 0;
    padding: 2rem 0;
  }

  &__content {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 1rem;
    border-radius: 1rem;
    box-shadow: 0 6px 24px 4px rgba(0, 0, 0, 0.7);
    margin: 0 auto;

    &-title {
      font-size: 1.6rem;
      margin-bottom: 1rem;
      text-shadow: 10px 4px 8px rgba(0, 0, 0, 0.7);
    }

    &-image {
      width: 320px;
      height: auto;
      border: 2px solid $colorBorder;
      margin-bottom: 1rem;

      img {
        width: 100%;
        display: block;
      }
    }

    &-btn {
      text-decoration: none;
      font-family: inherit;
      font-size: 1.2rem;
      color: #fff;
      font-weight: 500;
      line-height: 1rem;
      padding: 0.6rem 1.2rem;
      background-color: $colorSonic;
      border-radius: 0.4rem;
      box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.7);
      transition: all 0.3s ease-out;

      &:hover {
        transform: translateY(-1px);
      }

      &:active {
        transform: translateY(1px);
      }
    }
  }
}
