header {
  display: none;
  @include bp(atMedium) {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 6;
    padding: 1rem 2rem;
  }

  .site-logo {
    height: 100%;
    width: 7%;
    margin: 0;

    & img {
      width: 100%;
      height: 100%;
    }
  }

  .main-nav {
    &__list {
      @include flexCenter;
      background-color: rgba(0, 0, 0, 0.3);
      border-radius: 30px;
    }

    &__list-item {
      list-style-type: none;
      position: relative;
      transition: all 0.5s ease-out;

      &:hover {
        background-color: $colorKnuckles;
      }
    }

    &__list-item:first-child.active {
      border-radius: 30px 0 0 30px;
      background-color: $colorKnuckles;
    }

    &__list-item:first-child:hover {
      border-radius: 30px 0 0 30px;
    }

    &__list-item:last-child:hover {
      border-radius: 0 30px 30px 0;
    }

    &__list-item-shadow1 {
      position: absolute;
      letter-spacing: 6px;
      top: 2px;
      left: 18px;
      font-size: 2rem;
      font-weight: bolder;
      color: $colorSonic;
      z-index: -1;
    }

    &__list-item-shadow2 {
      position: absolute;
      top: 4px;
      left: 20px;
      color: #fff;
      letter-spacing: 6px;
      font-size: 2rem;
      font-weight: bolder;
      z-index: -2;
    }

    &__list-item-link {
      text-decoration: none;
      font-weight: 700;
      padding: 0 0.8rem;
      letter-spacing: 6px;
      font-size: 2rem;
      color: $colorYellow;
      position: relative;
      scroll-behavior: smooth;
    }

    .js-dropdown-panel {
      display: none;

      &.active {
        padding: 1rem 2.6rem 1rem 1rem;
        position: absolute;
        display: flex;
        flex-direction: column;
        background-color: $colorInfo;
        border-radius: 0.4rem;
        top: 3rem;
      }

      a {
        text-decoration: none;
        font-family: inherit;
        font-size: 0.8rem;
        color: #fff;
        font-weight: 500;
        line-height: 1rem;
        letter-spacing: 2px;
        margin-bottom: 1rem;
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);

        &:hover {
          color: $colorSonic;
          text-shadow: 0 2px 4px rgba(255, 221, 221, 0.7);
          transform: scale(1.2);
          margin-left: 0.6rem;
        }
      }
    }
  }

  .button-wrapper {
    display: flex;
    margin-right: 100px;

    .btn {
      font-family: inherit;
      padding: 0.5rem 1.2rem;
      border: none;
      outline: none;
      color: #fff;
      font-size: 1rem;
      font-weight: 700;
      box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.7);
      cursor: pointer;
      transition: all 0.2s ease-out;

      &:hover {
        transform: translateY(-1px);
      }

      &:active {
        transform: translateY(1px);
      }

      &__signIn {
        background-color: $colorSonic;
        border-radius: 2rem 0 0 2rem;
      }

      &__login {
        background-color: $colorKnuckles;
        border-radius: 0 2rem 2rem 0;
      }
    }
  }
}
