header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 6;
  padding: 1rem 2rem;
  h1 {
    height: 100%;
    width: 7%;
    margin: 0;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .container {
    .main-nav {
      &__list-item {
        color: #fff;
      }

      &__list-item-link {
        list-style-type: none;
      }
    }

    .btn {
      display: flex;
      margin-right: 60px;
      &__signIn,
      &__login {
        font-family: inherit;
        padding: 0.5rem 1.2rem;
        border: none;
        outline: none;
        color: #fff;
        font-size: 1rem;
        font-weight: 700;
        box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.7);
      }

      &__signIn {
        background-color: $colorSonic;
        border-radius: 2rem 0 0 2rem;
      }

      &__login {
        background-color: $colorKnuckles;
        border-radius: 0 2rem 2rem 0;
      }
    }
  }
}
