.header {
  background-color: $colorKnuckles;
  transform: translateY(-185px) scale(0);
  position: absolute;
  right: 0;
  left: 0;
  z-index: 2;
  transition: all 0.3s cubic-bezier(1, 0, 0, 2);

  &-extended {
    transform: translateY(0) scale(1);
  }

  @include bp(atMedium) {
    transform: translateY(0);
    background-color: transparent;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 6;
    padding: 1rem 2rem;
  }

  .site-logo {
    display: none;

    @include bp(atMedium) {
      display: block;
      height: 100%;
      width: 7%;
      margin: 0;

      & img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .main-nav {
    &__list {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 40px;
      padding-top: 40px;

      @include bp(atMedium) {
        @include flexCenter;
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 30px;
        flex-direction: row;
        padding-bottom: 0;
        padding-top: 0;
      }
    }

    &__list-item {
      list-style-type: none;
      position: relative;
      transition: all 0.5s ease-out;
    }

    &__list-item:first-child.active {
      background-color: rgba(0, 0, 0, 0.4);
      border-radius: 30px;
    }

    &__list-item:hover {
      background-color: rgba(0, 0, 0, 0.4);
      border-radius: 30px;
    }

    &__list-item-shadow1 {
      position: absolute;
      letter-spacing: 6px;
      top: 2px;
      left: 18px;
      font-size: 1.6rem;
      font-weight: bolder;
      color: $colorSonic;
      z-index: -1;

      @include bp(atLarge) {
        font-size: 2rem;
      }
    }

    &__list-item-shadow2 {
      position: absolute;
      top: 4px;
      left: 20px;
      color: #fff;
      letter-spacing: 6px;
      font-size: 1.6rem;
      font-weight: bolder;
      z-index: -2;

      @include bp(atLarge) {
        font-size: 2rem;
      }
    }

    &__list-item-link {
      text-decoration: none;
      font-weight: 700;
      padding: 0 0.8rem;
      letter-spacing: 6px;
      font-size: 1.6rem;
      color: $colorYellow;
      position: relative;
      scroll-behavior: smooth;

      @include bp(atLarge) {
        font-size: 2rem;
      }
    }

    .js-dropdown-panel {
      display: none;

      &.active {
        box-sizing: border-box;
        left: 50%;
        transform: translateX(-50%);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 2rem;
        position: absolute;
        top: 3rem;
        z-index: 20;
        background-color: $colorInfo;
        border-radius: 0.4rem;
        padding: 1rem;
        width: 120%;

        @include bp(atMedium) {
          display: flex;
          flex-direction: column;
          grid-gap: 0;
        }
      }

      a {
        text-decoration: none;
        font-family: inherit;
        font-size: 0.8rem;
        color: #fff;
        font-weight: 500;
        line-height: 1rem;
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);

        @include bp(atMedium) {
          letter-spacing: 2px;
          margin-bottom: 1rem;
        }

        &:hover {
          color: $colorSonic;
          text-shadow: 0 2px 4px rgba(255, 221, 221, 0.7);
          transform: scale(1.2);
          margin-left: 0.6rem;
        }
      }
    }
  }

  .button-wrapper {
    display: none;
    @include bp(atMedium) {
      display: flex;
      margin-right: 100px;

      .btn {
        font-family: inherit;
        padding: 0.5rem 1.2rem;
        border: none;
        outline: none;
        color: #fff;
        font-size: 1rem;
        font-weight: 700;
        box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.7);
        cursor: pointer;
        transition: all 0.2s ease-out;

        &:hover {
          transform: translateY(-1px);
        }

        &:active {
          transform: translateY(1px);
        }

        &__signIn {
          background-color: $colorSonic;
          border-radius: 2rem 0 0 2rem;
        }

        &__login {
          background-color: $colorKnuckles;
          border-radius: 0 2rem 2rem 0;
        }
      }
    }
  }
}
