main {
  position: relative;

  .svg-top {
    position: absolute;
    z-index: -1;
    top: 0;
    transform: rotate(180deg);
  }

  .svg-bottom {
    position: absolute;
    z-index: -1;
    bottom: 0;
  }

  .modal {
    display: none;
  }

  .modal.is-open {
    display: block;
  }
}

.container {
  width: 80%;
  margin: 0 auto;
}

.tab-wrapper {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 100px;

  .grid {
    @include bp(atXLarge) {
      display: grid;
      grid-template-columns: 8fr 4fr;
      grid-gap: 1rem;
    }
  }

  .tab {
    &__header {
      background-color: $colorYellow;
      border: 4px solid $colorBorder;
      border-radius: 30px;
      display: flex;
      justify-content: space-between;
      margin: 30px 0;
      text-align: center;
      box-shadow: 0 16px 24px 4px rgba(0, 0, 0, 0.7);

      &__item {
        width: 35%;
        padding: 6px 0;
        text-decoration: none;
        display: inline-block;
        font-weight: 700;
        text-transform: uppercase;
        transition: all 600ms ease-out;
        color: black;
        font-size: 0.7rem;

        @include bp(atSmall) {
          font-size: 1rem;
          padding: 10px 0;
        }

        &:first-child {
          border-radius: 30px 0 0 30px;
        }

        &:last-child {
          border-radius: 0 30px 30px 0;
        }

        &:hover.tab-sonic,
        &.tab-sonic.active {
          background-color: $colorSonic;
          color: #fff;
          letter-spacing: 3px;
          font-size: 0.7rem;

          @include bp(atSmall) {
            font-size: 1rem;
            letter-spacing: 6px;
          }
        }

        &:hover.tab-tails,
        &.tab-tails.active {
          background-color: $colorTails;
          color: #fff;
          letter-spacing: 3px;
          font-size: 0.7rem;

          @include bp(atSmall) {
            font-size: 1rem;
            letter-spacing: 6px;
          }
        }

        &:hover.tab-knuckles,
        &.tab-knuckles.active {
          background-color: $colorKnuckles;
          color: #fff;
          letter-spacing: 3px;
          font-size: 0.7rem;

          @include bp(atSmall) {
            font-size: 1rem;
            letter-spacing: 6px;
          }
        }
      }
    }

    &__body {
      display: block;
      border: 4px solid $colorBorder;
      background-color: $colorInfo;
      box-shadow: 0 16px 24px 4px rgba(0, 0, 0, 0.7);
      border-radius: 1rem;

      .container {
        width: 100%;

        @include bp(atSmall) {
          width: 80%;
        }
      }
    }

    &__content {
      display: none;

      &.active {
        display: flex;
        padding: 16px;
        color: #fff;
        font-weight: 500;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        @include bp(atLarge) {
          flex-direction: row;
          justify-content: space-between;
        }
      }

      & img {
        border: 2px solid $colorBorder;
        border-radius: 0.6rem;
        margin-bottom: 1rem;

        @include bp(atMedium) {
          margin-bottom: 0;
        }
      }

      & p {
        padding: 0 16px;
      }
    }
  }
}
