@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexSpaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

//****** RESPONSIVE BREAKPOINTS *******

@mixin bp($point) {
  @if $point == atSmall {
    @media (min-width: 568px - 1) {
      @content;
    }
  } @else if $point == atMedium {
    @media (min-width: 768px - 1) {
      @content;
    }
  } @else if $point == atLarge {
    @media (min-width: 992px - 1) {
      @content;
    }
  } @else if $point == atXLarge {
    @media (min-width: 1200px - 1) {
      @content;
    }
  }
}
