.form-modal-wrapper {
  display: none;

  &.active {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 55;
    background-color: rgba($colorSonic, 0.7);
    @include flexCenter;

    .close-signIn,
    .close-logIn {
      position: absolute;
      right: 3rem;
      top: 2rem;
      text-decoration: none;
      font-size: 2rem;
      color: #fff;
      font-family: inherit;
      transform: scaleX(1.8);
      transition: color 0.3s ease-out;

      &:hover {
        color: $colorKnuckles;
      }
    }

    .form-box {
      position: relative;
      padding: 2rem 0;
      background-color: $colorInfo;
      font-family: inherit;
      color: #fff;
      text-align: center;
      width: 20%;
      border-radius: 0.8rem;

      &__title {
        margin-bottom: 1rem;
        font-size: 2rem;
      }

      &__content {
        padding: 0 1.8rem;

        &-group {
          margin-bottom: 1.8rem;

          label {
            display: block;
            text-align: left;
            margin-bottom: 0.4rem;
            margin-left: 0.2rem;
          }

          input {
            font-family: inherit;
            padding: 0.6rem 0.8rem;
            border-radius: 0.8rem;
            border: none;
            width: 100%;
            outline: none;
          }
        }

        .btn {
          cursor: pointer;
          font-family: inherit;
          padding: 0.5rem 1.2rem;
          border: none;
          outline: none;
          color: #fff;
          font-size: 1rem;
          font-weight: 700;
          box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.7);
          background-color: $colorSonic;
          border-radius: 2rem;
        }
      }
    }
  }
}

.login-modal {
  display: none;

  &.active {
  }
}

input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  color: #468847;
  background-color: #ceecc1;
  border: 1px solid #b5caa3;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  color: #b94a48;
  background-color: #f2dede;
  border: 1px solid #eed3d7;
}

.parsley-errors-list {
  margin: 8px 0 0;
  padding: 0;
  list-style-type: none;
  font-size: 0.8em;
  line-height: 0.8em;
  opacity: 0;
  color: #b94a48;

  transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
}

.parsley-errors-list.filled {
  opacity: 1;
}
