@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto Mono', monospace;
}

body {
  background-color: #ffe602;
}

main {
  position: relative;
}

main .svg-top {
  position: absolute;
  z-index: -1;
  top: 0;
  transform: rotate(180deg);
}

main .svg-bottom {
  position: absolute;
  z-index: -1;
  bottom: 0;
}

main .modal {
  display: none;
}

main .modal.is-open {
  display: block;
}

.container {
  width: 1180px;
  margin: 0 auto;
}

.container .grid {
  display: grid;
  grid-template-columns: 8fr 4fr;
  grid-gap: 1rem;
}

.container .hero {
  border: 4px solid #1f8bc2;
  margin: auto 0;
  box-shadow: 0 16px 24px 4px rgba(0, 0, 0, 0.7);
}

.container .hero img {
  width: 100%;
}

.tab-wrapper {
  padding-bottom: 100px;
}

.tab-wrapper .tab__header {
  background-color: #ffe602;
  border: 4px solid #1f8bc2;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
  text-align: center;
  box-shadow: 0 16px 24px 4px rgba(0, 0, 0, 0.7);
}

.tab-wrapper .tab__header__item {
  width: 35%;
  padding: 10px 0;
  text-decoration: none;
  display: inline-block;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 600ms;
  color: black;
}

.tab-wrapper .tab__header__item:first-child {
  border-radius: 30px 0 0 30px;
}

.tab-wrapper .tab__header__item:last-child {
  border-radius: 0 30px 30px 0;
}

.tab-wrapper .tab__header__item:hover.tab-sonic, .tab-wrapper .tab__header__item.tab-sonic.active {
  background-color: #156fb4;
  color: #fff;
  letter-spacing: 6px;
}

.tab-wrapper .tab__header__item:hover.tab-tails, .tab-wrapper .tab__header__item.tab-tails.active {
  background-color: #cb9510;
  color: #fff;
  letter-spacing: 6px;
}

.tab-wrapper .tab__header__item:hover.tab-knuckles, .tab-wrapper .tab__header__item.tab-knuckles.active {
  background-color: #ff3700;
  color: #fff;
  letter-spacing: 6px;
}

.tab-wrapper .tab__body {
  display: block;
  border: 4px solid #1f8bc2;
  background-color: #faae21;
  box-shadow: 0 16px 24px 4px rgba(0, 0, 0, 0.7);
  border-radius: 1rem;
}

.tab-wrapper .tab__content {
  display: none;
}

.tab-wrapper .tab__content.active {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  color: #fff;
  font-weight: 500;
}

.tab-wrapper .tab__content img {
  border: 2px solid #1f8bc2;
  border-radius: 0.6rem;
}

.tab-wrapper .tab__content p {
  padding: 0 16px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 6;
  padding: 1rem 2rem;
}

header .site-logo {
  height: 100%;
  width: 7%;
  margin: 0;
}

header .site-logo img {
  width: 100%;
  height: 100%;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .container .main-nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 30px;
}

header .container .main-nav__list-item {
  list-style-type: none;
  position: relative;
}

header .container .main-nav__list-item:hover {
  background-color: #ff3700;
}

header .container .main-nav__list-item:first-child.active {
  border-radius: 30px 0 0 30px;
  background-color: #ff3700;
}

header .container .main-nav__list-item:first-child:hover {
  border-radius: 30px 0 0 30px;
}

header .container .main-nav__list-item:last-child:hover {
  border-radius: 0 30px 30px 0;
}

header .container .main-nav__list-item-shadow1 {
  position: absolute;
  letter-spacing: 6px;
  top: 2px;
  left: 18px;
  font-size: 2rem;
  font-weight: bolder;
  color: #156fb4;
  z-index: -1;
}

header .container .main-nav__list-item-shadow2 {
  position: absolute;
  top: 4px;
  left: 20px;
  color: #fff;
  letter-spacing: 6px;
  font-size: 2rem;
  font-weight: bolder;
  z-index: -2;
}

header .container .main-nav__list-item-link {
  text-decoration: none;
  font-weight: 700;
  padding: 0 0.8rem;
  letter-spacing: 6px;
  font-size: 2rem;
  color: #ffe602;
  position: relative;
}

header .container .main-nav .js-dropdown-panel {
  display: none;
}

header .container .main-nav .js-dropdown-panel.active {
  padding: 1rem 2.6rem 1rem 1rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #faae21;
  border-radius: 0.4rem;
  top: 3rem;
}

header .container .main-nav .js-dropdown-panel a {
  text-decoration: none;
  font-family: inherit;
  font-size: 0.8rem;
  color: #fff;
  font-weight: 500;
  line-height: 1rem;
  letter-spacing: 2px;
  margin-bottom: 1rem;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}

header .container .button-wrapper {
  display: flex;
  margin-right: 100px;
}

header .container .button-wrapper .btn {
  font-family: inherit;
  padding: 0.5rem 1.2rem;
  border: none;
  outline: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

header .container .button-wrapper .btn__signIn {
  background-color: #156fb4;
  border-radius: 2rem 0 0 2rem;
}

header .container .button-wrapper .btn__login {
  background-color: #ff3700;
  border-radius: 0 2rem 2rem 0;
}

.swiper-container {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  border: 4px solid #1f8bc2;
  box-shadow: 0 16px 24px 4px rgba(0, 0, 0, 0.7);
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
}

.gallery-top {
  height: 80%;
  width: 100%;
}

.gallery-thumbs {
  width: 100%;
  height: 20%;
  box-sizing: border-box;
  margin-top: 30px;
  box-shadow: 0 16px 24px 4px rgba(0, 0, 0, 0.7);
}

.gallery-thumbs .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}

.accordion {
  color: #fff;
  box-shadow: 0 16px 24px 4px rgba(0, 0, 0, 0.7);
  border-radius: 30px;
}

.accordion__heading {
  border: 4px solid #1f8bc2;
  border-radius: 30px 30px 0 0;
  padding: 0.8rem 0.8rem;
  margin-top: 30px;
  background-color: #156fb4;
  text-align: center;
}

.accordion__item:last-child div {
  border-radius: 0 0 30px 30px;
}

.accordion__item:last-child .accordion__item-title {
  border-radius: 0 0 30px 30px;
}

.accordion__item.active:last-child h3 {
  border-radius: 0;
}

.accordion__item.active .accordion__item-title::after {
  transform: translateY(-50%) rotate(-180deg);
}

.accordion__item.active .accordion__item-body {
  display: block;
  padding: 0.8rem 2rem;
  border-top: 2px solid #fff;
  background-color: #faae21;
}

.accordion__item-title {
  background-color: #faae21;
  border-top: 2px solid #fff;
  padding: 0.8rem 2rem;
  cursor: pointer;
  position: relative;
}

.accordion__item-title::after {
  content: '';
  width: 10px;
  height: 10px;
  background-image: url(../images/arrow-down.svg);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1.8rem;
  border-radius: 50%;
}

.accordion__item-title:before {
  content: '';
  width: 18px;
  height: 18px;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 1.4rem;
  transform: translateY(-50%);
}

.accordion__item-body {
  display: none;
}

.form-modal-wrapper {
  display: none;
}

.form-modal-wrapper.active {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 55;
  background-color: rgba(21, 111, 180, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-modal-wrapper.active .close-signIn,
.form-modal-wrapper.active .close-logIn {
  position: absolute;
  right: 3rem;
  top: 2rem;
  text-decoration: none;
  font-size: 2rem;
  color: #fff;
  font-family: inherit;
  transform: scaleX(1.8);
}

.form-modal-wrapper.active .form-box {
  position: relative;
  padding: 2rem 0;
  background-color: #faae21;
  font-family: inherit;
  color: #fff;
  text-align: center;
  width: 20%;
  border-radius: 0.8rem;
}

.form-modal-wrapper.active .form-box__title {
  margin-bottom: 1rem;
  font-size: 2rem;
}

.form-modal-wrapper.active .form-box__content {
  padding: 0 1.8rem;
}

.form-modal-wrapper.active .form-box__content-group {
  margin-bottom: 1.8rem;
}

.form-modal-wrapper.active .form-box__content-group label {
  display: block;
  text-align: left;
  margin-bottom: 0.4rem;
  margin-left: 0.2rem;
}

.form-modal-wrapper.active .form-box__content-group input {
  font-family: inherit;
  padding: 0.6rem 0.8rem;
  border-radius: 0.8rem;
  border: none;
  width: 100%;
  outline: none;
}

.form-modal-wrapper.active .form-box__content .btn {
  cursor: pointer;
  font-family: inherit;
  padding: 0.5rem 1.2rem;
  border: none;
  outline: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.7);
  background-color: #156fb4;
  border-radius: 2rem;
}

.login-modal {
  display: none;
}

input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  color: #468847;
  background-color: #ceecc1;
  border: 1px solid #b5caa3;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  color: #b94a48;
  background-color: #f2dede;
  border: 1px solid #eed3d7;
}

.parsley-errors-list {
  margin: 8px 0 0;
  padding: 0;
  list-style-type: none;
  font-size: 0.8em;
  line-height: 0.8em;
  opacity: 0;
  color: #b94a48;
  transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
}

.parsley-errors-list.filled {
  opacity: 1;
}
